/*
File: /~dlamorea/public_html/css/style.css
Assignment 4: Update personal website using bootstrap
Derek Lamoreaux - derek_lamoreaux@student.uml.edu
UML Student in 91.61 GUI Programming I
This part builds on your homework 2.You are to enhance that page with bootstrap. Now you need to handle your styling with Bootstrap. We will mainly be testing out your website fluidity (responsive and mobile friendly) and a good design using bootstrap.Bootstrap should be applied to all your pages
File created 9/4/2020
Updated 10/13/2020
*/

.header {
    padding: 20px;
    text-align: center;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size:cover;
}

html{
    height: 100%;
}

body{
    background-image: url("../images/background2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
}

.inputField{
    width: 35%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 15px;
}

.col{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    min-height: 100px;
    text-align: center;
    margin: 10px;
    width:auto;
    margin-bottom: 50px;
    border: 2px;
    border-radius: 10px;
}

footer{
    padding-top: 100px;
    text-align: center;
}

.bert img {
    margin-left: auto;  
    margin-right: auto;
    margin-top: 15px;
    margin bottom: 15px;
    display: block;
}

#cont {
    margin-top: 50px;
    padding-left: 0px;
    margin-top: 0px;
    margin: auto;
}

#wrap {
    padding-left: 0px;
    overflow: auto;
    max-height: 1000px

}

#table {
    padding-left: 0px;
    margin-left: 0px;
    color: black;
    background-color: #b88c8f;
}

td:first-child {
    background-color: #c47279;
    font-weight: bold;
    position: -webkit-sticky;
    position: sticky;
    left: -1px;
    z-index: 1;
}

tr:first-child > td {
    background-color: #c47279;
    font-weight: bold;
    position: -webkit-sticky;
    position: sticky;
    top: -5px;
    z-index: 2;
}

@media (max-width: 500px) {
    #wrap {
        height: auto;
        overflow: auto;
        width: 90%; 
        max-height: 1000px
}
