/*
File: derkl0.github.io/a5/a5style.css
Assignment 5: Creating an Interactive Dynamic Table
Derek Lamoreaux - derek_lamoreaux@student.uml.edu
UML Student in 91.61 GUI Programming I
For this assignment you will create a table completely dynamically based on parameters entered in an HTML form.First, you must create a form that accepts the starting and ending numbers for both the horizontal (multiplier) and vertical (multiplicand) axes of a multiplication table.Second, you will use the numbers entered into the form to create a multiplicationtable completely dynamically.What you will create is commonly called a“single page web app” (or application)
File created 10/27/2020
Updated 10/28/2020
*/

/*header background*/
.header {
    padding: 20px;
    text-align: center;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size:cover;
}

/* set background correct size */
html{
    height: 100%;
}

/* set background */
body{
    background-image: url("../images/background2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
}

/* set input field width */
.inputField{
    width: 35%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 15px;
}

/* put opaque backgrounds behind body sections */
.col{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    min-height: 100px;
    text-align: center;
    margin: 10px;
    width:auto;
    margin-bottom: 50px;
    border: 2px;
    border-radius: 10px;
}

/* footer center and pad */
footer{
    padding-top: 100px;
    text-align: center;
}

/* remove left padding and center the table  */
#cont {
    margin-top: 50px;
    padding-left: 0px;
    margin-top: 0px;
    margin: auto;
}

/* remove left padding and allow the table to scroll 
rather than rolling over the side of the page  */
#wrap {
    padding-left: 0px;
    overflow: auto;
    max-height: 1000px
}

/* remove left padding and set the text and background color on the table  */
#table {
    padding-left: 0px;
    margin-left: 0px;
    color: black;
    background-color: #b88c8f;
}

/* leftmost column color change and stick to left when scrolling  */
td:first-child {
    background-color: #c47279;
    font-weight: bold;
    position: -webkit-sticky;
    position: sticky;
    left: -1px;
    z-index: 1;
}

/* uppermost column color change and stick to top when scrolling  */
tr:first-child > td {
    background-color: #c47279;
    font-weight: bold;
    position: -webkit-sticky;
    position: sticky;
    top: -5px;
    z-index: 2;
}

/* make errors red  */
.errorMessage{
    color: red;
}

/* allow the table to scroll rather than rolling over the side of the page  */
@media (max-width: 500px) {
    #wrap {
        height: auto;
        overflow: auto;
        width: 90%; 
        max-height: 1000px
}
