/*
File: derkl0.github.io/A8/a8.css
derek_lamoreaux@student.uml.edu

Assignment 8: Create interactive Scrabble game in javascript

File created 12/6/2020
Updated 12/10/2020
*/

.header {
    padding: 20px;
    text-align: center;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size:cover;
}

html{
    height: 100%;
}

body{
    background-image: url("../images/background2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
}

.bertImg img{
    margin: 10px;
    border: 5px solid black;
    border-radius: 10px;
    max-width: 100%;
}

.col{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    min-height: 200px;
    text-align: center;
    margin: 10px;
    width:auto;
    margin-bottom: 50px;
    border: 2px;
    border-radius: 10px;
}

footer{
    padding-top: 100px;
    text-align: center;
}

.bert img {
    margin-left: auto;  
    margin-right: auto;
    margin-top: 15px;
    margin bottom: 15px;
    display: block;
}

#rack {
    background-image: url(./image/scrabble-tile-holder.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 640px;
    height: 182px; 
}